In [1]:
print('Hello Yerassyl')

Hello Yerassyl

In [2]:
a = 'Hello'
b = 'Yera'
print(a+b)

HelloYera

In [3]:
"""
Hello comment
"""

'\nHello comment\n'

In [9]:
st = 'Goood job dad'
print(st[6:10])

job

In [13]:
if 'job' in st:
    print('job')

job

In [17]:
if 'a' in 'Yeraaa':
    print(a)

a

In [18]:
for h in 'YEr':
    print(h)

Y
E
r

In [19]:
print(len(b))

4

In [20]:
txt = "I love my country!"
if "love" in txt:
  print("Yes veriable, 'love' contain")

Yes veriable, 'love' contain

In [21]:
print('Kaz' in txt)

False

In [22]:
print('kaz' not in txt)

True

# Slicing

In [24]:
var = 'My name is Yer'
print(var[::])
print(var[:7])
print(var[8:11])
print(var[-6:-1])

My name is Yer
My name
is
is Ye

# Modify string

In [27]:
print(var.upper())
print(var.lower())
print(var.strip()) #The strip() method removes any whitespace from the beginning or the end:
print(var.replace('Yer', 'Yerassyl'))
print(var.split(',')) #The split() method splits the string into substrings if it finds instances of the separator:

MY NAME IS YER
my name is yer
My name is Yer
My name is Yerassyl
['My name is Yer']

In [29]:
boy = 'Yera'
girl = 'Dos'
print(boy+girl)
print(boy+' '+girl)

YeraDos
Yera Dos

# Format

In [32]:
age = 36
txt=txt+age
print(txt) # so its error

TypeError: can only concatenate str (not "int") to str

In [34]:
age = 18
tec = "My name is Yera, and I am {}"
print(tec.format(age))

My name is Yera, and I am 18

In [39]:
ages = 19
sep = 29
tec2 ="My name is Yera, and I am will be {0} in september {1}"
print(tec2.format(ages, sep))

My name is Yera, and I am will be 19 in september 29

# Escape Characters

In [43]:
txt = "My name \"is\" Yera."   #  use this \"
print(txt)

My name "is" Yera.

In [44]:
txt = "My name \\is\\ Yera." 
print(txt)

My name \is\ Yera.

In [45]:
txt = "My name \nis\n Yera." 
print(txt)

My name
is
 Yera.

# String Methods

In [56]:
na = "YERassYLL"
print(na.capitalize())
print(na.find('s'))
print(na.index('L'))
print(na.isdigit())
print(na.isupper())

Yerassyll
4
7
False
False

#  Conditions IF-Else statments

In [58]:
d1 = 49
d2 = 60.3
d3 = 4+9j
d4 = 200
if d1>d2:
    print('Yes stat is true')
else:
    print('Not stat error')

Not error

In [59]:
if d3 == d1:
    print('Yes stat truse')
else:
    print('Not stat false')

Not stat false

In [61]:
d5 = 100
d6 = 90
d7 = 50
d8 = int(input('Enter your score'))
if d8 <= d5:
    print('Your score A')
elif d8 <= d6:
    print('Your score B')
elif d8 <= d7:
    print('Your score C')
else:
    print('Dumb')

Enter your score89
Your score A

In [63]:
money = int(input('Enter your pocket money'))
price = 55
if money >= price:
    print('Buy it')
else:
    print('Work harder to make money')

Enter your pocket money23
Work harder to make money

In [64]:
s = 5
s = 6
print(s)

6

In [69]:
print(bool(''))

False