There are four collection data types in the Python programming language:    

List is a collection which is ordered and changeable. Allows duplicate members.             
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.                  
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.     
Dictionary is a collection which is ordered** and changeable. No duplicate members.

## Lists

## Access List Items

In [1]:
L1 = ['Yera','Iskakov','Kairatovich','2004-09-29','male']
print(L1[1], L1[-1], L1[2:])

Iskakov male ['Kairatovich', '2004-09-29', 'male']

In [2]:
if 'male' in L1:
    print('Yes')
else:
    print('Not')

Yes

## Change list items

In [3]:
L1[3]='29-09-2004'
print(L1)

['Yera', 'Iskakov', 'Kairatovich', '29-09-2004', 'male']

In [4]:
L1.insert(0, 'StudenID')
print(L1)

['StudenID', 'Yera', 'Iskakov', 'Kairatovich', '29-09-2004', 'male']

## add list items

In [5]:
L1.append('ENU')
print(L1)

['StudenID', 'Yera', 'Iskakov', 'Kairatovich', '29-09-2004', 'male', 'ENU']

In [12]:
L2 = ['Oraz', 'Disko', '09-09-04']
L1.extend(L2)
print(L1)

['StudenID', 'Yera', 'Iskakov', 'Kairatovich', '29-09-2004', 'male', 'ENU', 'Oraz', 'Disko', '09-09-04', 'Oraz', 'Disko', '09-09-04']

## Remove list items

In [13]:
L2.remove('Oraz')
L2.pop(1)
print(L2)

['Disko']

## loop list

In [14]:
for i in L1:
    print(i)

StudenID
Yera
Iskakov
Kairatovich
29-09-2004
male
ENU
Oraz
Disko
09-09-04
Oraz
Disko
09-09-04

## List comprehension

In [17]:
L3= ['1', '2']
L4 = ['3','4']
for x in L3:
    if '1' in x:
        L4.append(x)
print(L4)

['3', '4', '1']

In [20]:
L5 = ['Yer' for x in L1]
L6 = [x for x in range(10)]
print(L5+L6)

['Yer', 'Yer', 'Yer', 'Yer', 'Yer', 'Yer', 'Yer', 'Yer', 'Yer', 'Yer', 'Yer', 'Yer', 'Yer', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Sort list

In [18]:
L4.sort()
print(L4)

['1', '3', '4']

In [21]:
L4.reverse()
print(L4)

['4', '3', '1']

## Copy list

In [22]:
NL1 = L1.copy()
print(NL1)

['StudenID', 'Yera', 'Iskakov', 'Kairatovich', '29-09-2004', 'male', 'ENU', 'Oraz', 'Disko', '09-09-04', 'Oraz', 'Disko', '09-09-04']

In [23]:
NL2 = L2.copy()
print(NL2)

['Disko']

## Join

In [24]:
L1+L2

['StudenID',
 'Yera',
 'Iskakov',
 'Kairatovich',
 '29-09-2004',
 'male',
 'ENU',
 'Oraz',
 'Disko',
 '09-09-04',
 'Oraz',
 'Disko',
 '09-09-04',
 'Disko']

## Methods

append()	Adds an element at the end of the list                          
clear()	Removes all the elements from the list                        
copy()	Returns a copy of the list                                 
count()	Returns the number of elements with the specified value                        
extend()	Add the elements of a list (or any iterable), to the end of the current list             
index()	Returns the index of the first element with the specified value         
insert()	Adds an element at the specified position             
pop()	Removes the element at the specified position                
reverse()	Reverses the order of the list       
sort()	Sorts the list

# Python turples

## Access

In [3]:
T1 = ('This', 'is', 'turple', 'This', 'is', 'turple')
T2 = (10, 15, 20, 25, 30)
print(T1[0])

This

## Update

In [1]:
x = ("USA", "KAZ", "RUS")
y = list(x)
y[1] = "CHN"
x = tuple(y)

print(x)

('USA', 'CHN', 'RUS')

In [4]:
y = list(T1)
y.remove('This')
T1 = tuple(y)
print(T1)

('is', 'turple', 'This', 'is', 'turple')

## Unpack

In [32]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Loop

In [33]:
for x in T1:
    print(x)

turple

## Joinn

In [34]:
T3 = T1+T2
print(T3)

('turple', 10, 15, 20, 25, 30)

In [35]:
T4 = T3*2
print(T4)

('turple', 10, 15, 20, 25, 30, 'turple', 10, 15, 20, 25, 30)

## Turple Methods

count()	Returns the number of times a specified value occurs in a tuple                    
index()	Searches the tuple for a specified value and returns the position of where it was found

# Python sets

## Access

In [38]:
S = {'Hi', 'Hello', 'Goodday', 'Ohayo'}
for s in S:
    print(s)

Hello
Hi
Goodday
Ohayo

## Add set

In [40]:
S.add('Nihao')
print(S)

{'Hello', 'Goodday', 'Ohayo', 'Hi', 'Nihao'}

In [41]:
S1 = {'Salem', 'Privet'}
S.update(S1)
print(S)

{'Hello', 'Goodday', 'Ohayo', 'Salem', 'Hi', 'Nihao', 'Privet'}

## Remove set items

In [47]:
S.remove('Hello')
print(S)

{'Goodday', 'Ohayo', 'Salem', 'Nihao', 'Privet'}

In [48]:
S.clear()
print(S)

set()

In [49]:
S4= {'Goodday', 'Ohayo', 'Salem', 'Nihao', 'Privet'}
S4.discard('Salem')
print(S4)

{'Goodday', 'Nihao', 'Privet', 'Ohayo'}

## loop set

In [50]:
for i in S4:
    print(i)

Goodday
Nihao
Privet
Ohayo

## join set

In [52]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 'a', 3, 'b'}

In [53]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'c', 2, 'a', 3, 'b'}

## set methods

The intersection_update() method will keep only the items that are present in both sets.

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

The intersection() method will return a new set, that only contains the items that are present in both sets.

add()	Adds an element to the set      
clear()	Removes all the elements the set                                 
copy()	Returns a copy of the set                   
difference()	Returns a set containing the difference between two or more sets           
difference_update()	Removes the items in this set that are also included in another, specified set 
discard()	Remove the specified item               
intersection()	Returns a set, that is the intersection of two other sets                
intersection_update()	Removes the items in this set that are not present in other, specified set(s) 
isdisjoint()	Returns whether two sets have a intersection or not            
issubset()	Returns whether another set contains this set or not            
issuperset()	Returns whether this set contains another set or not                        
pop()	Removes an element from the set              
remove()	Removes the specified element                                  
symmetric_difference()	Returns a set with the symmetric differences of two sets               
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets         
update()	Update the set with the union of this set and others

# Python dictionaries

## Access items

In [59]:
D1 = {'Stud': 'Yera', 'Course':2, 'Univ':'ENU'}
print(D1)
print(D1['Stud'])

{'Stud': 'Yera', 'Course': 2, 'Univ': 'ENU'}
Yera

In [61]:
x = D1.keys()
print(x)

dict_keys(['Stud', 'Course', 'Univ'])

In [62]:
k = D1.items()
print(k)

dict_items([('Stud', 'Yera'), ('Course', 2), ('Univ', 'ENU')])

## Change items

In [63]:
D1['Stud']='Yerassyl'
D1['Birth'] = '2004'
print(D1)

{'Stud': 'Yerassyl', 'Course': 2, 'Univ': 'ENU', 'Birth': '2004'}

In [65]:
D1.update({'Univ':'Eurasian'})
print(D1)

{'Stud': 'Yerassyl', 'Course': 2, 'Univ': 'Eurasian', 'Birth': '2004'}

In [67]:
D1.popitem()
print(D1)

{'Stud': 'Yerassyl', 'Course': 2}

## Add items

showed above

## remove items

In [66]:
D1.pop('Univ')
print(D1)

{'Stud': 'Yerassyl', 'Course': 2, 'Birth': '2004'}

## loop dictionaries

In [69]:
for x in D1:
  print(x)

Stud
Course

In [70]:
for x in D1:
  print(D1[x])

Yerassyl
2

## copy dictionaries

In [71]:
mydict = D1.copy()
print(mydict)

{'Stud': 'Yerassyl', 'Course': 2}

In [72]:
mydict1 = dict(D1)
print(mydict1)

{'Stud': 'Yerassyl', 'Course': 2}

## nested dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

## dictionary methods

clear()	Removes all the elements from the dictionary     
copy()	Returns a copy of the dictionary                
fromkeys()	Returns a dictionary with the specified keys and value               
get()	Returns the value of the specified key              
items()	Returns a list containing a tuple for each key value pair               
keys()	Returns a list containing the dictionary's keys              
pop()	Removes the element with the specified key                            
popitem()	Removes the last inserted key-value pair            
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs           
values()	Returns a list of all the values in the dictionary

# While LOOP

In [73]:
i = 1
while i < 4:
  print(i)
  i += 1

1
2
3

In [74]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [75]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [76]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# FOR lOOP

In [78]:
for i in range(5):
    print(i)

0
1
2
3
4

In [80]:
for x in range(3, 30, 3):
  print(x)

3
6
9
12
15
18
21
24
27

In [5]:
Co = ["KAZ", "KRG", "UZB"]
adj = ["wholsome", "beautiful", "best"]

for x in Co:
  for y in adj:
    print(x, y)

KAZ wholsome
KAZ beautiful
KAZ best
KRG wholsome
KRG beautiful
KRG best
UZB wholsome
UZB beautiful
UZB best

#                                   REAL TASK

## Task 2 Runner-up score

In [1]:
n = int(input())
s = input().split()
S = [] #New List

for x in s: #Add from old to new
    S.append(int(x))

S.sort(reverse=True)

for i in range(n):
    if S[0] != S[i]:
        print(S[i])
        break

5
2 3 6 6 5
5

## Task 3

In [2]:
x = int(input('Enter the x coor: '))
y = int(input('Enter the y coor: '))
z = int(input('Enter the z coor: '))

res = []
coor = []

n = int(input('Number: '))


for a in range(x+1):
        for b in range(y+1):
            for c in range(z+1):
                if a+b+c != n:
                    coor = [a,b,c] #save coordinate
                    res.append(coor)
print(res)

Enter the x coor: 1
Enter the y coor: 1
Enter the z coor: 1
Number: 2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

## Task 4

In [1]:
size = int(input())
for i in range(1, size + 1):
     print(str(i) * i)

5
1
22
333
4444
55555

## Task 5

In [4]:
scr = []
data = []
j = int(input())
for i in range(j):
    name = input()
    score = float(input())
    data.append([name, score])
    scr.append(score)

scr.sort()  #score list
scnd = 0 #second min
mini = scr[0]
data.sort()

for a in scr:
    if a != mini:
        scnd = a
        break

for b in data:
    if b[1] == scnd:
        print(b[0])

5
Harry
37.21
Berry
37.21
Tin
37.2
Akir
41
Has
39
Berry
Harry

## Task 6       open in IDLE work there

In [2]:
n = int(input())
store = {}

for i in range(n):
    inf = input().split()
    name = inf[0]
    scores = []
    for score in inf[1:]:
        scores.append(int(score))
    store[name] = scores # add into dictionar

se = input() #search spec person
output = store[se]
average = sum(output) / len(output)
print(average)

3

IndexError: list index out of range

In [2]:
n = int(input())
store = {}

for i in range(n):
    inf = input().split()
    name = inf[0]
    scores = list(map(int, inf[1:]))
    store[name] = scores  # Add into dictionary
print(scores)
print(store)
    
se = input()  # Search specific person
output = store[se]
average = sum(output) / len(output)
print(average)

3
Kyle 50
Kdd 78 78 59 45
Luke 56 85 78
[56, 85, 78]
{'Kyle': [50], 'Kdd': [78, 78, 59, 45], 'Luke': [56, 85, 78]}
Kyle
50.0