# 1 Provides own 10 examples according topics that we covered.

In [28]:
print('1 example')
x = 'My name is Yerassyl'
print(x)

1 example
My name is Yerassyl

In [32]:
print('2 example')
x2 = x[11:]
print(x2)

2 example
Yerassyl

In [36]:
print('3 example')
im = 'Yera'
for i in 'Yera':
    print(i)
print(len(im))

3 example
Y
e
r
a
4

In [38]:
print('4 example')
txt = "I love my Country"
if 'love' in txt:
  print('Yes, \'love\' contain.')

4 example
Yes, 'love' contain.

In [47]:
print('5 example')
ir = 'Iskakov'
print(ir[-7:-2])

5 example
Iskak

In [49]:
print('6 example')
sir = 'Good MoRnInG'
print(sir.upper())
print(sir.lower())

6 example
GOOD MORNING
good morning

In [50]:
print('7 example')
ye = 'Whats ur name'
print(ye.replace('ur', 'your'))

7 example
Whats your name

In [56]:
print('8 example')
w = 'This text is would be split'
print(w.split(' ')) #WhiteSpace

8 example
['This', 'text', 'is', 'would', 'be', 'split']

In [59]:
print('9 example')
el = 'yerassyl'
en = input('Enter ur name: ')
if en.lower() == el:
    print('Welcome: ')
else: 
    print('No')

9 example
Enter ur name: YerasSyl
Welcome:

In [60]:
print('10 example')
if 5 == 10 or 15 > 9:
  print("True")

10 example
True

# 2 Create a python calculator with main math operators!

In [1]:
#Calculator program

a = float(input('Enter 1st number: '))
b = float(input('Enter 2nd number: '))
op = input('Enter the mathematical operator: ')
if op == '+':
    print('Your answer is ', a+b)
if op == '*':
    print('Your answer is ', a*b)
if op == '/':
    print('Your answer is ', a/b)
if op == '-':
    print('Your answer is ', a-b)
if op == '//':
    print('Your answer is ', a//b)
if op == '%':
    print('Your answer is ', a%b)

Enter 1st number: 89
Enter 2nd number: 3
Enter the mathematical operator: +
Your answer is  92.0

# 3 Create console calculator:

In [4]:
print('Its your console calculator. Select from it your choice: \n /*-+7894561230')
ca = '/*-+7894561230'
symb = '/*-+'
n1 = int(input('Select 1st number: '))
print((ca[n1]))
   
n2 = int(input('Select 2nd number: '))
print((ca[n2]))
    
oper = eval(input('Select your operator '))
print('Your choice', ca[oper])

if ca[oper] == '+':
    print('Your answer is ', int(ca[n1])+int(ca[n2]))
if ca[oper] == '*':
    print('Your answer is ', int(ca[n1])*int(ca[n2]))
if ca[oper] == '/':
    print('Your answer is ', int(ca[n1])/int(ca[n2]))
if ca[oper] == '-':
    print('Your answer is ', int(ca[n1])-int(ca[n2]))

Its your console calculator. Select from it your choice:
 /*-+7894561230
Select 1st number: 6
9
Select 2nd number: 4
7
Select your operator 1
Your choice *
Your answer is  63

# 4 Check whether a number entered is even or add

In [8]:
num = eval(input('Enter the number: '))
if num % 2 == 0:
    print('Your number even')
else:
    print('Your number odd')

Enter the number: 6
Your number even:

# 5 Check whether a last number entered divisble by 3 or not

In [16]:
num2 =str(input('Enter the number: '))
number = num2[-1]
if int(number) % 3 == 0:
    print('Your last number divisble to 3')
else:
    print('Your last number not divisble to 3')

Enter the number: 619
Your number divisble to 3

# 6 Electricity bill task

In [61]:
bill = eval(input('Enter number of unit: '))
if bill <= 100:
    print('Total bill amount is:', bill)
elif bill <= 200:
    bill2 = bill-100
    print('Total bill amount is:', bill2*5)
elif bill >= 200:
    bill3 = bill-200
    print('Total bill amount is:', 100*5+bill3*10)

Enter number of unit: 350
Total bill amount is: 2000